.App-main{
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  }
  .cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .recent-tasks{
    margin-top: 90px;
    width: 60%;

  }