.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

table {
  width: inherit;
  border-collapse: separate;
  border-spacing: 0px 3px; /* Space between rows */
}
thead {
  position: sticky;
  top: 0px;
  z-index: 1;
  border-spacing: 0 30px;
}

th {
  padding: 10px;
  background-color: #673ab7;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: #eee25b;
}

tr:nth-child(even) {
  background-color: #eee25b;
}
tr:nth-child(odd) {
  background-color: #eee25bd3;
}
tbody tr:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
/* removing the elevation animation for the first child*/
tbody tr:first-child:hover {
  box-shadow: none;
  transform: none;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #673ab7;
  border-top: 1px solid #673ab7;
  width: inherit;
  margin-top: 10px;
  color: #eee25b;
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.pagination-controls button:hover {
  border-radius: 5px;
  cursor: "pointer";
  transition: "box-shadow 0.3s";
  box-shadow: 0px 0px 5px #000000;
}

.pagination-controls span {
  margin: 0 10px;
}

.page-info input {
  border: none;
  background: none;
  font-size: 1.2em;
  color: #eee25b;
  text-align: center;
  font-weight: bold;
}
